/* You can add global styles to this file, and also import other style files */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    padding: 20px 20px 100px;

    color:rgb(136, 136, 136);
    font-size: 12px;
}
.clearfix:after {
    content:".";display:block;height:0;clear:both;visibility:hidden;
}
a {
    text-decoration: none;
}
h3{
    font-size:24px;
    text-align: center;
    font-weight: normal;
}
p{
    padding-bottom: 10px;
}
.t-center {
    text-align: center;
}
.page {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background:rgb(226,227,231);
    padding:0 20px;
}
.page .step {
    float: left;
    line-height: 50px;
}
.page .setup{
    float:right;
    line-height: 30px;padding-top:10px;
}
.page .next,.page .done {
    display: inline-block;
    width: 80px;height: 30px;
    text-align: center;
    margin: 0 5px;
    background: rgb(119,117,139);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.page .back {
    display: inline-block;
    width: 80px;height: 30px;
    text-align: center;
    margin: 0 5px;
    background: #fff;
    border:1px solid #aaa;
    color: #aaa;
    border-radius: 5px;
}
.warning {
    background:rgba(255,17,0,.5);
    height: 30px;
    line-height: 30px;
    padding:0 5px;
    border: 1px solid rgb(255,17,0);
    position: fixed;top:30px;
    right: 30px;
    border-radius: 5px;
    color: #fff;
    min-width: 200px;
    
}